@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100,300&display=swap');
.addstory{
    width:60%;
    margin:auto;
    font-family: 'Merriweather Sans', sans-serif;
    ::-webkit-input-placeholder { 
        font-family: 'Merriweather Sans', sans-serif;
        font-weight:bold;
        font-size:25px;
      }
      ::-webkit-textarea-placeholder { 
        font-family: 'Merriweather Sans', sans-serif;
        font-weight:bold;
        font-size:25px;
      }
      .story-content{
        border:0px;
        box-shadow:none;
    }
      .story-title{
          border:0px;
          box-shadow:none;
      }
      .categories:focus{
          box-shadow:none;
          border:1px solid #b57e40;
      }
      .categories:hover{
        border:1px solid #b57e40;
      }
        .mt-15{
    margin-top: 20vh;
        }
        .publish-btn{
            background-color: #b57e40;
            box-shadow: 2px 2px 12px rgba(35,31,26,.08);
            font-weight:bold;
            border:none;
            width:10%;
            float:right;
            color: #ffffff;
        }
        .publish-btn:hover{
            background-color: #f5d1a9;
            color: #b57e40;
        }
        .label-text{
            font-family: 'Lato', sans-serif;
            font-weight:bold;
        }
       
}