.main{
    display: flex;
    justify-content: space-between;
    margin-top: 13vh;
    background-color: #f1f1f1;
    .left{
        width: 20vw;
        background-color: #f1f1f1;
        .overflowscroll{
            height: 72vh;
            overflow-y: scroll;
        }
        ::-webkit-scrollbar {
            width: 5px;
            }
          ::-webkit-scrollbar-track {
            background: #f1f1f1; 
            border-radius:2px;
          }
          ::-webkit-scrollbar-thumb {
            background: #cbc6c1;
            border-radius:2px; 
          }
          ::-webkit-scrollbar-thumb:hover {
            background: #cbc6c1; 
          }
    }
    .middle{
        width: 50vw;
        height: 80vh;
        overflow-y: scroll;
        ::-webkit-scrollbar {
            width: 5px;
            }
          ::-webkit-scrollbar-track {
            background: #f1f1f1; 
            border-radius:2px;
          }
          ::-webkit-scrollbar-thumb {
            background: #cbc6c1;
            border-radius:2px; 
          }
          ::-webkit-scrollbar-thumb:hover {
            background: #cbc6c1; 
          }
    }
    .right{
        width: 25vw;
        height: 80vh;
    }
    .active{
        width:fit-content;
        border-bottom: 4px dotted #b57e40;
    }
}